@media only screen and (max-width: 786px) {
  
	h2.harndd {
		display: flex!important;
		justify-content: center!important;
        font-size: 50px;
        margin-top: 150px;
	}
	.banner-style-one-area h2, .banner-style-two-area h2{
		text-align: center!important;
        font-size: 50px;
	}
	.content p {
		text-align: center!important;
        font-size: 30px;
	}
    .banner-style-one-area .conn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn-standard {
        text-align: center;
        font-size: 30px;
    }
    .profile-grid ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
    }
    .banner-style-one-area .icon-list {
         display: flex;
         flex-direction: row;
      
        }
      .smoth-menu {
       
            height: 229px;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 60px;
      
      }  
      .smooth-menu {
        padding: 60px;
      }
      .fa-bars, .fa-navicon {
        height: 44px;
      }
  
      .ser {
        padding: 0px;
      }
      .abou {

        margin-top: 40px;
         
      }
          .banner-style-one-area .thumb  {
            padding: 0;
          }
              .banner-style-one-area .thumb::before  {
                width: 97% !important;
        height: 77% !important;
              }
              .thumb img {
                margin-left: 9px;
              }
                  .banner-style-one-area .thumb::after, .bg-dark .banner-style-one-area .thumb::after  {
                    width: 90%;
                  }
      
     
    .bg-dark .profile-grid ul a {
        align-items: center;
    }
    .sss {
        width: 100%;
        margin: 0px;
    } 
    .information{
        width: 100%;
        display: flex;
            gap: 32px;
    }
}
